.container {
    display: flex;
}

.mainContent {
    flex-grow: 1;
    padding: 80px;
    margin-left: 350px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
}
.headingtable {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputGroup label {
    font-weight: bold;
    margin-bottom: 5px;
}

.inlineInputs {
    display: flex;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: none;
}

.submitButton {
    background: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    align-self: flex-start;
}

.submitButton:hover {
    background: #0056b3;
}
