.container {
    display: flex;
    height: 100vh;
    padding-top: 80px;
}

.mainContent {
    flex-grow: 1;
    padding: 40px;
    margin-left: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.searchContainer {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.eventListTitle {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.eventList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.eventItem {
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.eventItem h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.eventItem p {
    margin: 5px 0;
}

.eventItem button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .mainContent {
        margin-left: 0;
        padding: 20px;
    }
}
