.container {
  display: flex;
  padding-top: 60px;
}

.mainContent {
  flex-grow: 1;
  
  margin-left: 250px;
  padding-left: 80PX;
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-left: 10PX;
}
.pageTitleh3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 460px;
  padding-right: 360px;
}

.searchTab {
  font-size: 24px;
  font-weight: bold;
  padding-left: 60PX;
  padding-right: 60px;
}
.navigationTabs {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  color: #007bff;
  padding-bottom: 5px;
  align-items: center;
  padding-left: 360px;
}

.tab:hover {
  text-decoration: underline;
}

.activeTab {
  color: #0056b3;
  border-bottom: 3px solid #0056b3;
}

.filterSection {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
  padding-left: 360px;
}

label {
  font-weight: bold;
}

.dropdown {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.attendanceTable {
  width: 100%;
  border-collapse: collapse;
}

.attendanceTable th,
.attendanceTable td {
  border: 2px solid #007bff;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.attendanceTable th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}
